.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules
.DS_Store
.idea
.vscode

.FOODAI-MOBILE/node_modules
.FOODAI-MOBILE/.DS_Store
.FOODAI-MOBILE/.idea
.FOODAI-MOBILE/.vscode
.FOODAI-MOBILE/.gitignore
.FOODAI-MOBILE/.gitignore